.button {
  justify-content: center;
}
.selection {
  width: 20%;;
}
.card {
  background-color: #CBB279;
      
  width: 1000px;
  height:500px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.action {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.king {
  text-align: center;
  max-width: 30%;
}
.comment {
  padding-top: 50px;
  text-align: center;
  position: relative;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  top: 0;
  left: 50%;
}
.basic {
  text-align: center;
  width:100
}
.page {
  flex-wrap: wrap;
  height: 100vh;
  background-color: #E1D4BB;
}
.resultImg {  
  margin-left: 120px;
  height: 10%;
  width: 10%;
}
.notice {
  text-align: center;
  color: red;
}