.startPage{
  background-color: #537188;
  width: 100%;
  height: 100vh;
}
.left{
  margin-left: 10%;
  position: absolute;
  top: 20%;
}
.left h2{
  font-size: 50px;
  color: white;
}

.left p{
  font-size: 70px;
  color: white;
  font-weight: bold;
}
.startButton{
 font-size: 50px;
 text-align: center;
 text-decoration: none;
 font-weight: bold;
 color: black;
 background-color: #EEEEEE;
 width: 150px;
 padding: 20px;
 border-radius: 50px;
}

.right{
  position: absolute;
  top: 20%;
  right: 5%;
  width: 800px;
}
.right .image1{
  width: 350px;
  height: 250px;
  margin: 0 33px;
}
.right .image2{
  width: 350px;
  height: 250px;
}

.right .image3{
  width: 500px;
  height: 300px;
  margin: 20px 150px;
}

