.section {  
  left: 30px;
  top: 30px;  
  padding: 100px 20px;
  background-image: url("../../public/img/bookImg.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  
}

.img {
    margin-top: 50px;
    
}

.button {
    float:right;
}
