.container {
    position: relative;
}
  
.chapterTitle{
    margin-left: 180px;    
}

.byteCount {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 12px;
    color: gray;
}

.txtarea {
    margin-left: 180px;
    justify-content: center;    
    width: 80%;
    height: 500px;    
}
